.star {
  color: rgb(10,15,180);
}

body {
  /*background-color: #000000;*/
  /*background-image: url('../images/movie-theatre-1234634.jpg');*/
  background: url('../images/movie-theatre-1234634.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #cecece;
}
.well {
  color: #555;
}
h3 {
  color: #777;
  margin-top: 2em;
}

.tomatoes strong {
  color: rgb(200,30,40);
}

img {
  border: 5px solid #000;
  clear: both;
  margin-top: 1em;
}
.row {
  background-color: rgba(40,40,40, .8)
}

.back {
  padding: .5em 1em;
}