<h1><%= movie.title %></h1>
<h2>Comments</h2>
<div class="row">

<a href=<%= prevPage %> class="back glyphicon glyphicon-arrow-left pull-left"> back</a>
</div>

<% allComments.forEach(function(comment){ %>
<div class="well">

  <%= comment.content %>
</div>
<% }) %>

<form action="" method="POST" role="form">
  <div class="form-group">
    <label for="">Add a comment</label>
    <input name="content" type="textarea" class="form-control" id="" placeholder="comment">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
