<h1>Add Tag</h1>
<form action="/favorites/<%= favId %>/tags" method="POST" role="form">

  <div class="form-group">
    <label for="new-tag">tag</label>
    <input type="text" name="word" class="form-control" id="new-tag" placeholder="#tagword">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>